<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://app.hydration.net" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    
    <meta name="title" content="<%= title %>" />
    <meta name="description" content="<%= description %>" />

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:url" content="https://app.hydration.net" />
    <meta property="og:type" content="website" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://app.hydration.net" />
    <meta property="twitter:title" content="<%= title %>" />
    <meta property="twitter:description" content="<%= description %>" />
    <meta property="twitter:image" content="<%= image %>" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>