<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://app.hydradx.io" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    
    <meta name="title" content="<%= title %>" />
    <meta name="description" content="<%= description %>" />

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:url" content="https://app.hydradx.io" />
    <meta property="og:type" content="website" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://app.hydradx.io" />
    <meta property="twitter:title" content="<%= title %>" />
    <meta property="twitter:description" content="<%= description %>" />
    <meta property="twitter:image" content="<%= image %>" />

    <link rel="preload" href="/src/assets/fonts/ChakraPetch/ChakraPetch.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/src/assets/fonts/ChakraPetch/ChakraPetchBold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/src/assets/fonts/ChakraPetch/ChakraPetchSemiBold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/src/assets/fonts/FontOver/FontOver.ttf" as="font" type="font/ttf" crossorigin>
    <style>#root,body,html{height:100%;width:100%}body{font-size:1.6rem;margin:0;font-family:'ChakraPetch', sans-serif;background:#060917}body::before{position:absolute;top:0;left:0;width:100%;height:474px;content:'';background:radial-gradient(73.65% 123% at 57% -38.76%, rgba(93, 177, 255, 0.59) 0%, rgba(0, 194, 255, 0) 100%), linear-gradient(180deg, #00579F 0%, #023B6A 25%, #060917 100%)}</style>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>