name: Lint
on:
  - push
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '20.x'
      - run: yarn install --frozen-lockfile --ignore-engines
      - run: yarn run lint
